body, html {
  height: 100%;
}

.google { 
  /* The image used */
  background-image: url("./Photo/hero-image-01.jpg");
}

.antinomy { 
  /* The image used */
  background-image: url("./Photo//hero-image-02.jpg");
}

.daysOfType {
  /* The image used */
  background-image: url("./Photo//hero-image-03.jpg");
}

@tailwind base;
@tailwind components;
@tailwind utilities;