body, html {
  height: 100%;
  scroll-behavior: smooth;
}

/* animated underline text while hover */
.hover-underline-animation {
  display: grid;
  place-items: center;
}

.hover-underline-animation:after {
  content: '';
  display: grid;
  place-items: center;
  width: 40%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media only screen and (min-width: 640px) {
  .hover-underline-animation:after {
    width: 28%;
  }
}

@media only screen and (min-width: 768px) {
  .hover-underline-animation:after {
    width: 50%;
  }
}

@media only screen and (min-width: 1024px) {
  .hover-underline-animation:after {
    width: 35%;
    height: 7px;
  }
}

.google { 
  /* The image used */
  background-image: url("./Photo/hero-image-01.jpg");
}

.antinomy { 
  /* The image used */
  background-image: url("./Photo//hero-image-02.jpg");
}

.daysOfType {
  /* The image used */
  background-image: url("./Photo//hero-image-03.jpg");
}

.Ayco {
  /* The image used */
  background-image: url("./Photo//hero-image-04.jpg");
}

.LEchonova {
  background-image: url("./Photo/hero-image-05.jpg")
}

.Lvmh {
  background-image: url("./Photo//hero-image-06.jpg")
}

.Hublot {
  background-image: url("./Photo/hero-image-07.jpg")
}

.ByuTv {
  background-image: url("./Photo//hero-image-08.jpg")
}

.ScaleAi {
  background-image: url("./Photo//hero-image-09.jpg")
}

.NuageSurMer {
  background-image: url("./Photo//hero-image-10.jpg")
}

.DaysOfType02 {
  background-image: url("./Photo//hero-image-11.jpg")
}

.FastCompanyMagazine {
  background-image: url("./Photo//hero-image-12.jpg")
}

.TousATable {
  background-image: url("./Photo//hero-image-13.jpg")
}

.Bic {
  background-image: url("./Photo//hero-image-14.jpg")
}


@tailwind base;
@tailwind components;
@tailwind utilities;