body, html {
  height: 100%;
}

.parallax { 
  /* The image used */
  background-image: url("HeroImage.jpg");

  /* Full height */
  height: 100vh; 

}

.parallax01 { 
  /* The image used */
  background-image: url("HeroImage-02.jpg");

  /* Full height */
  height: 100vh; 

}

@tailwind base;
@tailwind components;
@tailwind utilities;